page-form-new {
    .top-right-btn{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 8px;
        font-size: 1.6rem;
    }
    form{
        ion-item{
            padding-left: 0 !important;
        }
        textarea{
            min-height: 100px;
            margin-left: 0 !important;
        }
        .form-new-content{
            min-height: 160px;
            font-size: 1.8rem;
        }
    }
}
