page-form-new {
    .top-right-btn{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 8px;
        font-size: 1.6rem;
    }
    form{
		height: 100%;
		display: flex;
		flex-direction: column;

        ion-item{
            padding-left: 0 !important;
        }
        .form-new-content{
			flex-grow: 1;
            font-size: 1.8rem;
        }
        [contentEditable=true]:empty:not(:focus):before{
            content: "请开始你的表演..."
        }
    }
}
