page-mine {
	.scroll-content{
		//background-image: url(../assets/img/bg_long_pic_02.jpg);
		background-color: #bebebe;
		h2, h5{
			margin: 0;
		}
		.mine_containter{
			height: 100%;
			display: flex;
			flex-direction: column;
		}
		.mine_setting_div{
			height: 2.5rem;
			width: 100%;
			font-size: 1.2rem;
			color: #fff;
			padding: 0.8rem 1.2rem;
			display: flex;
			flex-direction: row;
			align-items: center;

			.show_user_name_here{
				flex-grow: 1;
			}
			.show_setting_here{
				flex-grow: 0;
			}
		}

		.mine_userinfo_div{
			margin: 1.6rem 0;
			padding: 0.8rem 1.6rem;
			color: #fff;
			display: flex;
			flex-direction: row;
			.userinfo_name_and_photo{
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				img{
					display: block;
					width: 80px;
					height:80px;
					border-radius: 50%;
				}
				h2{
					flex-grow: 2;
				}
				.userinfo_edit{
					padding: 0.8rem 1.6rem;
					font-size: 1.6rem;
					background-color: #90a4ae;
					border-radius: 0.6rem;
				}
			}
		}
		.user_operation_info{
			width: 100%;
			margin: 1.6rem 0;
			padding: 0.8rem 1.6rem;
			background-color: #fff;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			div{
				text-align: center;
			}
			.user_operation_info_detail{
				font-size: 1.4rem;
				padding: 0.8rem 0;
				display: flex;
				flex-direction: column;

				.user_work_info_detail_desc{
					flex-grow: 1;
				}
				.user_work_info_detail_arrow{
					flex-grow: 1;
				}
			}
		}

		.user_work_info{
			width: 100%;
			margin: 1.6rem 0;
			padding: 0.8rem 1.6rem;
			background-color: #fff;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			.user_work_info_detail{
				font-size: 1.8rem;
				padding: 0.8rem 0;
				display: flex;
				flex-direction: row;

				.user_work_info_detail_desc{
					flex-grow: 1;
				}
				.user_work_info_detail_arrow{
					flex-grow: 0;
				}
			}
		}
	}

}
